.muestra{
    width: 98vw;
    
}

.muestra__contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.muestra__contenedor__articulos{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.medio{
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.muestra__contenedor__articulos__titulos{
    margin-bottom: 2rem;
    font: var(--titulo-700);
    border-bottom: 2px solid green;
}

.muestra__contenedor__articulos__items{
    line-height: 1.5;
    
}
