.cabecera{
    width: 100%;
    height: 10vh;
    background: linear-gradient(90deg, rgba(24, 24, 227, 1) 11%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}

.cabecera-logo{
    font: var(--titulo-500);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: .5rem;
}

.logo-list{
    display: flex;
    text-decoration: none;
    color: var(--color-texto-blanco);
}

.imgLogo{
    max-width: 3rem;
    margin-left: .3rem;
}

.cabecera-nav{
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecera__nav-lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cabecera__nav__lista-item{
    transition: transform 800ms;
}

.cabecera__nav__lista-item:hover{
    transform: scale(1.3);
}

.__lista__item-link{
    text-decoration: none;
    color: var(--color-texto-blanco);
    font: var(--texto-700);
    transition: color 800ms;
}

.__lista__item-link:hover {
    opacity: 80%;
}