.ingreso__contenedor__titulo{
    text-align: center;
    font: var(--titulo-700);
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.contenedor-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.btn-fecha-menu{
    border: none;
    border: 2px solid var(--color-gris-100);
    border-radius: 4px;
    color: var(--color-celeste-300);
    font: var(--texto-500);
    padding: .3rem;
    width: 90vw;
}

.btn-fecha-menu:hover{
    background-color: var(--color-gris-300);
    color: var(--color-texto-blanco);
    cursor: pointer;
}

.form-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--texto-400);
}

.contenedor-deslisable{
    min-width: 85vw;
    background-color: #cccccc;

}

.deslisable {
    display: grid;
    grid-template-columns: repeat(5,19%);
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}

.caja-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

.label{
    display: flex;
    gap: .5rem;
}

.label-input{
    max-width: 70px;
    outline: none;
    font: var(--texto-400);
    padding-left: .3rem;
    line-height: 1.5;
}

.btn-ingreso{
    border: none;
    background-color: var(--color-verde-400);
    border: 2px solid transparent;
    color: var(--color-texto-blanco);
    font: var(--texto-400);
    text-transform: uppercase;
    padding: 0 .5rem 0 .5rem;
    border-radius: 4px;
    line-height: 1.5;
}

.btn-ingreso:hover{
    cursor: pointer;
    opacity: 70%;
}