@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;600;700;800;900&display=swap');


:root{
    
    --color-texto-blanco : #f1faee;
    --color-texto-oscuro: #000814;

    --color-verde-100: #c7f9cc;
    --color-verde-200: #80ed99;
    --color-verde-300: #57cc99;
    --color-verde-400: #46a948;
    --color-verde-500: #00916e;

    --color-rojo-100: #e63946;

    --color-gris-100 : #e3e3e3;

    --color-celeste-100 : #a8dadc;
    --color-celeste-200: #457b9d;
    --color-celeste-300 : #1d3557;

    --texto-100 : 100 clamp(0.8rem, 1.5vw, 1.5rem) 'Exo 2', sans-serif;
    --texto-300 : 300 clamp(0.8rem, 1.5vw, 1.5rem) 'Exo 2', sans-serif;
    --texto-400 : 400 clamp(0.8rem, 1.5vw, 1.5rem) 'Exo 2', sans-serif;
    --texto-500 : 500 clamp(0.8rem, 1.5vw, 1.5rem) 'Exo 2', sans-serif;
    --texto-600 : 600 clamp(0.8rem, 1.5vw, 1.5rem) 'Exo 2', sans-serif;
    --texto-700 : 700 clamp(0.8rem, 1.5vw, 1.5rem) 'Exo 2', sans-serif;
    --texto-800 : 800 clamp(0.8rem, 1.5vw, 1.5rem) 'Exo 2', sans-serif;

    --titulo-100: 100 clamp(1.8rem, 1.5vw, 2.2rem) 'Exo 2', sans-serif;
    --titulo-300: 300 clamp(1.8rem, 1.5vw, 2.2rem) 'Exo 2', sans-serif;
    --titulo-400: 400 clamp(1.8rem, 1.5vw, 2.2rem) 'Exo 2', sans-serif;
    --titulo-500: 500 clamp(1.8rem, 1.5vw, 2.2rem) 'Exo 2', sans-serif;
    --titulo-600: 600 clamp(1.8rem, 1.5vw, 2.2rem) 'Exo 2', sans-serif;
    --titulo-700: 700 clamp(1.8rem, 1.5vw, 2.2rem) 'Exo 2', sans-serif;
    --titulo-800: 800 clamp(1.8rem, 1.5vw, 2.2rem) 'Exo 2', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font: var(--texto-500);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}